
body {
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    margin: 0; 
    padding: 0; 
    background-color: #f4f4f4; 
}


h1 {
    color:#777; 
    text-align: center; 
    padding: 20px 0; 
}


h2 {
    color: #555; 
    text-align: center; 
    margin-top: 20px; 
    margin-bottom: 10px; 
}


h3 {
    color: #777; 
    text-align: center;
    margin-top: 10px; 
    margin-bottom: 10px;
    /*hola wenas tardes hoy es 23/09/2024 son las 11:22*/
}
